<div>
  <div class="navbar-row top-banner">
    <div class="row">
      <div class="col-2 social-media-icons">
        <span
          ><i class="fa-brands fa-square-facebook social-media-icon"></i
        ></span>
        <span
          ><i class="fa-brands fa-square-instagram social-media-icon"></i
        ></span>
        <span
          ><i class="fa-brands fa-square-twitter social-media-icon"></i
        ></span>
        <span><i class="fa-brands fa-linkedin social-media-icon"></i></span>
      </div>
      <div class="col-10 text-center">
        <span class="top-banner-text"> Free shipping this week! </span>
      </div>
    </div>
  </div>

  <div class="row navbar-row header-row">
    <div class="col-9">
      <img
        src="/assets/images/logo.png"
        alt=""
        srcset=""
        class="logo-image"
        (click)="navigateToPage('home')"
      />
    </div>
    <div class="col-3 user-icons">
      <span
        ><i
          class="fa-solid fa-cart-shopping clickable"
          (click)="navigateToPage('cart')"
        ></i
      ></span>
    </div>
  </div>
</div>
